* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('OIP.jpeg');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    padding: 2rem;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f3f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.wrapper {
    font-size: 2rem;
    color: #333;
}