body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #9598e5;
  }
  
  #input-text {
    width: 50%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #word-count {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  #count {
    color: #00698f;
  }